<template>
  <div>
    <div id="app">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"
          ><img
            src="./assets/logo.png"
            width="40"
            height="40"
            style="margin-top: -10px"
            alt="egci427 logo"
        /></a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/contactlists">Contacts</a>
            </li>
          </ul>
        </div>
        <router-link to="/signin">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><span class="fas fa-user"></span></button>
        </router-link>
      </nav>
      <router-view />
    </div>
  </div>
</template>



<script>
//import Cards from './components/Card.vue'
export default {
  name: "App",
  // components: {
  //     Cards
  // }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: orangered;
  margin-top: 0px;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.bg-light {
    background-color: black !important;
}

.navbar{
  margin-bottom: 50px;
}
</style>
