<template>
    <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." v-model="Temp">
                <span class="input-group-btn">
                  &nbsp;&nbsp;<button class="btn btn-primary" type="button" @click="search">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    Search
                  </button>&nbsp;&nbsp;
                  <router-link to="/addcontact">
                    <button type="button" class="btn btn-warning" >+ Add</button>
                  </router-link>
                </span>
              </div>
            </div>
          </div>
  <div class="row col-sm">
    <div v-for=" list in searchUsers" :key="list._id">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          v-bind:src="list.imageUrl"
          alt="Card image cap"
        />
        <div class="card-body">
          <h4 class="card-title font-weight-bold">{{ list.firstName }} {{list.lastName}}</h4>
          <p class="card-text">Mobile: {{list.mobileNo}}</p>
          <p>Email: {{list.email}}</p>
          <p>Facebook: {{list.facebook}}</p>
          <router-link :to="{ path: 'editcontact',name: 'EditContact', params:{userId: list._id}}">
            <button class="btn btn-primary"><i class="far fa-edit"></i></button> </router-link
          >&nbsp;&nbsp;
          
            <button class="btn btn-danger" @click="del_User(list._id)"><i class="far fa-trash-alt"></i></button>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "Contactlist",
  data() {
    return {
      Contacts: [],
      Search: "",
      Temp: ""
    };
  },
  computed: {
    searchUsers: function () {
      return this.Contacts.filter((user) => {
        return user.firstName.match(this.Search);
      });
    },
  }, 

  mounted() {
    axios
      .get("http://localhost:5000/contacts")
      .then((response) => {
        console.log(response.data);
        this.Contacts = response.data;
      })
      .catch((error) => {
        console.log(error);
      });
  },
  methods: {
      del_User(UserId) {
      axios
        .delete("http://localhost:5000/contacts/delete/" + UserId)
        .then(() => {
          console.log("Deleted: " + UserId);
        })
        .catch((error) => {
          console.log(error);
        });
         window.location.reload();
      },
      search(){
        this.Search = this.Temp
        console.log("enter search");
      }
  },
};
</script>


<style>
  .card{
    margin: 20px;
  }

  .col-lg-12{
    margin-bottom: 80px;
}
</style>