<template>
<div class="container">
    <form>
      <br>
      <div class="panel panel-info">
        <div class="panel-heading">
        <h4 class="font-weight-bold" style="text-align:left">Contact <span class="badge badge-info">Edit</span></h4>
        </div>
        <div class="form-group">
          <label class="float-left font-weight-bold" >Contact ID<span class="text-danger">*</span> </label>
          <input type="text" class="form-control" placeholder="Contact ID" v-model="User.contactID">
        </div>
        <div class="form-group">
          <label class="float-left font-weight-bold">First Name<span class="text-danger">*</span> </label>
          <input type="text" class="form-control" placeholder="First Name" v-model="User.firstName">
        </div>
        <div class="form-group">
          <label class="float-left font-weight-bold">Last Name<span class="text-danger">*</span> </label>
          <input type="text" class="form-control" placeholder="Last Name" v-model="User.lastName">
        </div>
        <div class="form-group">
          <label class="float-left font-weight-bold">Mobile No<span class="text-danger">*</span> </label>
          <input type="text" class="form-control" placeholder="Mobile No" v-model="User.mobileNo">
        </div>
        <div class="form-group">
          <label class="float-left font-weight-bold">Email </label>
          <input type="text" class="form-control" placeholder="Email" v-model="User.email">
        </div>
        <div class="form-group">
          <label class="float-left font-weight-bold">Facebook </label>
          <input type="text" class="form-control" placeholder="Facebook" v-model="User.facebook">
        </div>
        <div class="form-group">
          <label class="float-left font-weight-bold">Image Url </label>
          <input type="text" class="form-control" placeholder="Image Url" v-model="User.imageUrl">
        </div>
      </div>

      <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button type="submit" class="btn btn-success" @click="updateToAPI"><span class="far fa-save"></span> Save</button>
        &nbsp;&nbsp;
        <router-link to="/">
         <button class="btn btn-danger"><span class="fas fa-times"></span> Close</button>
        </router-link>
      </div>

      
    </form>
  </div>

</template>

<script>
  import axios from 'axios'
  export default {
    name: 'EditContact',

    data() {
      return {
        User: {

          contactID: '',
          firstName: '',
          lastName: '',
          mobileNo: '',
          email: '',
          facebook: '',
          imageUrl: ''
        }
      }
    },
    methods: {
      updateToAPI() {
        let newUser = {
          
          contactID: this.User.contactID,
          firstName: this.User.firstName,
          lastName: this.User.lastName,
          mobileNo: this.User.mobileNo,
          email: this.User.email,
          facebook: this.User.facebook,
          imageUrl: this.User.imageUrl
        }
      
        axios.post('http://localhost:5000/contacts/edit/'+this.$route.params.userId, newUser)
          .then((response) => {
            console.log(response)
            console.log("response")
          })
          .catch((error) => {
            console.log(error)
          })
           this.$router.replace('/contactlists')
          
      }
    },
       mounted() {
        axios.get('http://localhost:5000/contacts/read/'+this.$route.params.userId)
            .then((response)=>{
                console.log("check")
                this.User = response.data

            })
            .catch((error)=>{
                console.log(error)
            })
    },    


    
  }
</script>