<template>
<div class="container">
     <form>
         <br>
       <div class="card" style="width: 30em;margin:0 auto;">
           <div class="card-header text-white" style="background-color: #00AA9E;">
            <h3 class="font-weight-bold" style="text-align:left">Login</h3>
           </div>
           <br>
        <div class="form-col">
            <div class="from-group col sm-6">
                <label class="form-label float-left font-weight-bold" >User Account </label>
                <input type="username" v-model="formData.username" class="form-control" placeholder="User Account"/> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="from-group col sm-6">
                <label class="form-label float-left font-weight-bold" >Password </label>
                <input type="password" v-model="formData.password" class="form-control" placeholder="Password"/>
                <br> 
                <button class="btn btn-success float-sm-left" @click="signIn">Login</button> 
            </div>
            <br><br>
        </div>
      </div>
     </form>
    </div>
</template>
<script>
export default {
    name: 'SignIn',
    data() {
        return {
            formData: {
                username: '',
                password: ''
            },
            errorMessgae: '',
            succeessMessage: ''
        }
    },
    methods: {
        signIn() {
            if(this.formData.username != "" && this.formData.password != "") {
                    if(this.formData.username == "bob" && this.formData.password == "1234") {
                        this.$router.replace('/contactlists')
                        this.succeessMessage = "Success" 
                    } else {
                        console.log("The username and / or password is incorrect");
                    }
                } else {
                    console.log("A username and password must be present");
                }
        }
    },
}
</script>

<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>